* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    color-scheme: var(--tg-color-scheme);
    touch-action: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
    overflow: hidden;
    touch-action: none;
}

.authButton { 
    position: fixed; 
    bottom: 9.5vh; 
    left: 50%; 
    width: 80%; 
    transform: translateX(-50%); 
    background-color: var(--tg-theme-button-color); 
    color: var(--tg-theme-button-text-color); 
    padding: 17px; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    cursor: pointer; 
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20vh auto 0;
    width: 80vw;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.icon svg {
    width: 20px;
    height: 20px;
}

.option.selected .icon .inactive {
    display: none;
}

.option:not(.selected) .icon .active {
    display: none;
}


