.button { 
    position: fixed; 
    bottom: 10vw; 
    right: 10vw;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10vw auto 0;
    width: 70vw;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    font-size: 25px;
}

.option {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: var(--hint-color);
    font-size: 16px;
}

.icon svg {
    width: 20px;
    height: 20px;
    display: block;
    vertical-align: middle;
    margin: auto 0;
}

.option.selected .icon .inactive {
    display: none;
}

.option:not(.selected) .icon .active {
    display: none;
}

@view-transition {
    navigation: auto;
}

/* Анимация для перехода ВПЕРЁД */
::view-transition-old(root) {
    animation: slideOutLeft 300ms forwards ease-out;
    z-index: 1;
}

::view-transition-new(root) {
    animation: slideInRight 300ms forwards ease-out;
    z-index: 2;
}

/* Анимация для перехода НАЗАД - зеркальная */
html::view-transition-old(root):is([style*='navigation-type: back']) {
    animation: slideOutRight 300ms forwards ease-out;
}

html::view-transition-new(root):is([style*='navigation-type: back']) {
    animation: slideInLeft 300ms forwards ease-out;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0.5;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    to {
        transform: translateX(100%);
        opacity: 0.5;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
