:root {
    --bg-color: var(--tg-theme-secondary-bg-color);
    --secondary-bg-color: var(--tg-theme-bg-color);
    --text-color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color); 
    --accent-text-color: var(--tg-theme-accent-text-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);
    --color-scheme: var(--tg-color-scheme);
    --button-color: var(--tg-theme-button-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --subtitle-text-color: var(--tg-theme-subtitle-text-color);
}

@media (prefers-color-scheme: dark) {
    @supports (padding-top: env(safe-area-inset-top)) {
        :root {
            --bg-color: var(--tg-theme-bg-color);
            --secondary-bg-color: var(--tg-theme-secondary-bg-color);
        }
    }
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    color-scheme: var(--color-scheme);
    touch-action: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    margin-top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top));
    overflow: hidden;
    touch-action: none;
}