:root {
    --bg-color: var(--tg-theme-secondary-bg-color);
    --secondary-bg-color: var(--tg-theme-bg-color);
    --text-color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color); 
    --accent-text-color: var(--tg-theme-accent-text-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);
    --color-scheme: var(--tg-color-scheme);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: --bg-color;
    color: --text-color;
    color-scheme: --color-scheme;
    touch-action: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}