main {
    margin-bottom: var(--tg-safe-area-inset-bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--tg-content-safe-area-inset-top) - var(--tg-safe-area-inset-top));
}

.horizontal-scroll {
    width: 90vw;
    height: 45vw;
    margin-left: 5vw;
    margin-top: 5vw;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    white-space: nowrap; 
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    touch-action: pan-x;
    border-radius: 10px;
}

.horizontal-scroll::-webkit-scrollbar {
    display: none;
}

.scroll-container {
    display: flex;
    flex-wrap: nowrap;
}

.scroll-item {
    flex: 0 0 90vw;
    height: 45vw; 
    display: flex;
    flex-direction: column;
    font-size: 16px;
    scroll-snap-align: start; 
    scroll-snap-stop: always; 
    box-sizing: border-box; 
    transition: background-color 0.3s ease;
}

.news {
    position: absolute;
    margin: 5vw;
    font-weight: bold;
    border-radius: 8px;
    padding: 1vw 2vw;
    z-index: 10;
    color: white;
    
    background: rgba(0, 0, 0, 0.4); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: slideOutLeft 300ms forwards ease-out;
    z-index: 1;
}

::view-transition-new(root) {
    animation: slideInRight 300ms forwards ease-out;
    z-index: 2;
}

@keyframes slideOutLeft {
    to { transform: translateX(-100%); opacity: 0.5; }
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0.5; }
    to { transform: translateX(0); opacity: 1; }
}