main {
    margin-bottom: var(--tg-safe-area-inset-bottom);
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto 0;
    overflow: hidden;
}

.block {
    margin-left: 5vw;
    width: 90vw;
    background-color: var(--secondary-bg-color);
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
}

.block i {
    margin-right: 6vw;
    width: 4vw;
    text-align: center;
    color: var(--hint-color); 
}

.line {
    background: linear-gradient(to right, var(--secondary-bg-color) 16vw, var(--bg-color) 1px);
    margin-left: 5vw;
    width: 90vw;
    height: 0.7px;
}

.button { 
    margin-left: 5vw;
    width: 90vw; 
    margin-top: 4vw;
    background-color: var(--secondary-bg-color); 
    color: var(--destructive-text-color); 
    padding: 4vw 6vw; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.info {
    display: flex;
    margin-left: auto;
    color: var(--accent-text-color);
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: slideOutLeft 300ms forwards ease-out;
    z-index: 1;
}

::view-transition-new(root) {
    animation: slideInRight 300ms forwards ease-out;
    z-index: 2;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0.5;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}