.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vw;
    margin: 0 auto 0;
    overflow: hidden;
}

.block {
    margin-left: 5vw;
    width: 90vw;
    background-color: var(--secondary-bg-color);
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
}

.block i {
    margin-right: 6vw;
    width: 4vw;
    text-align: center;
    color: var(--hint-color); 
}

.line {
    background: linear-gradient(to right, var(--secondary-bg-color) 16vw, var(--bg-color) 1px);
    margin-left: 5vw;
    width: 90vw;
    height: 0.2vw;
}

.button { 
    margin-left: 5vw;
    width: 90vw; 
    margin-top: 5vw;
    background-color: var(--secondary-bg-color); 
    color: var(--destructive-text-color); 
    padding: 4vw 6vw; 
    border: none; 
    font-size: 4vw; 
    cursor: pointer; 
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 3vw;
}

.info {
    display: flex;
    margin-left: auto;
    color: var(--accent-text-color);
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: slideOutLeft 300ms forwards ease-out;
    z-index: 1;
}

::view-transition-new(root) {
    animation: slideInRight 300ms forwards ease-out;
    z-index: 2;
}

@keyframes slideOutLeft {
    to { transform: translateX(-100%); opacity: 0.5; }
}

@keyframes slideInRight {
    from { transform: translateX(100%); opacity: 0.5; }
    to { transform: translateX(0); opacity: 1; }
}
