* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    color-scheme: var(--tg-color-scheme);
    touch-action: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main {
    margin-top: calc(var(--tg-content-safe-area-inset-top) + var(--tg-safe-area-inset-top));
    margin-bottom: var(--tg-safe-area-inset-bottom);
    overflow: hidden;
    touch-action: none;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 0 auto 0;
    overflow: hidden;
}

.block {
    margin-left: 5vw;
    width: 90vw;
    background-color: var(--tg-theme-bg-color);
    padding: 4vw 6vw;
    display: flex;
    align-items: center;
}

.block i {
    margin-right: 6vw;
    width: 4vw;
    text-align: center;
    color: var(--tg-theme-hint-color); 
}

.line {
    background: linear-gradient(to right, var(--tg-theme-bg-color) 16vw, var(--tg-theme-secondary-bg-color) 50px);
    margin-left: 5vw;
    width: 90vw;
    height: 0.7px;
}

.threeButton { 
    margin-left: 5vw;
    width: 90vw; 
    margin-top: 4vw;
    background-color: var(--tg-theme-bg-color); 
    color: var(--tg-theme-destructive-text-color); 
    padding: 4vw 6vw; 
    border: none; 
    font-size: 16px; 
    cursor: pointer; 
    text-align: left;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.info {
    display: flex;
    margin-left: auto;
    color: var(--tg-theme-accent-text-color);
}

@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: slideOutLeft 300ms forwards ease-out;
    z-index: 1;
}

::view-transition-new(root) {
    animation: slideInRight 300ms forwards ease-out;
    z-index: 2;
}

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0.5;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}