* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    color-scheme: var(--tg-color-scheme);
    touch-action: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

main {
    overflow: hidden;
    touch-action: none;
}

/* View Transitions */
@view-transition {
    navigation: auto;
}

/* Анимация для старой страницы (уходящей) */
::view-transition-old(root) {
    animation: slideOutLeft 500ms forwards ease-in-out;
    z-index: 1;
}

/* Анимация для новой страницы (появляющейся справа) */
::view-transition-new(root) {
    animation: slideInRight 500ms forwards ease-in-out;
    z-index: 2;
}

/* Определение анимаций */
@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
        opacity: 0.5;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0.5;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}