body {
    --bg-color: var(--tg-theme-bg-color);
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color);
    margin: 48px 24px;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

#bannerButton {
    position: fixed;
    bottom: 80px;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    z-index: 1000;
}